<%= link_to "<- Back to Dashboard", admin_dashboard_path %>
<h1>Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Name</th>
      <th scope="col">Member Since</th>
    </tr>
  </thead>
  <% count = 0 %>
  <% @users.each do |user| %>
    <tbody>
      <tr>
        <% count+=1 %>
        <th scope="row"><%= count %></th>
        <td><%= user.name %></td>
        <td><%= user.created_at.strftime("%d %B, %Y") %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<div class="flickr_pagination">
  <%= will_paginate @users %>
</div>
