<section class="user">
  <div class="profile-image">
    <%= profile_image(current_user) %>
  </div>
  <h1><%= current_user.name %></h1>
  <h5><%=mail_to(current_user.email) %></h5>
  <h4>Member Since
    <%= current_user.created_at.strftime("%B %Y") %>
  </h4>
  <% if policy(current_user).is_admin? %>
    <%= link_to "Bus Owners", all_bus_owners_path, class: "btn btn-primary" %>
  <% end %>
  <div class="actions">
    <%= link_to "Edit Account", edit_user_registration_path, class: "button edit"  unless current_user.admin?%>
  </div>
  <% if @reservations.present? %>
    <h3>Reservations</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">S No.</th>
          <th scope="col">Name</th>
          <th scope="col">Seats</th>
          <th scope="col">Pick-up</th>
          <th scope="col">Drop</th>
          <th scope="col">Created at</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <% count = 0 %>
      <% @reservations.each do |ticket| %>
        <% if ticket.bus.journey_date > Time.now %>
          <tbody>
            <tr>
              <% count+=1 %>
              <th scope="row"><%= count %></th>
              <td><%= ticket.user.name %></td>
              <td><%= ticket.seats %></td>
              <td><%= ticket.bus.source %></td>
              <td><%= ticket.bus.destination %></td>
              <td><%= formatted_date(ticket.created_at) %></td>
              <td><%= button_to "Cancel", user_reservation_path(current_user, ticket), method: :delete, class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
  <% end %>
  <div class="flickr_pagination">
    <%= will_paginate @reservations %>
  </div>
</section>
