<section class="user">
  <h1><%= current_user.name %></h1>
  <h5><%=mail_to(current_user.email) %></h5>
  <h4>Member Since
    <%= current_user.created_at.strftime("%B %Y") %>
  </h4>
  <% if current_user.admin? %>
    <%= link_to "Bus Owners", bus_owners_path, class: "btn btn-primary" %>
  <% end %>
  <div class="actions">
    <%= link_to "Edit Account", edit_user_registration_path, class: "button edit"  unless current_user.admin?%>
  </div>
  <% if @reservations.present? %>
    <h3>Reservations</h3>
    <% @reservations.each do |ticket| %>
      <% if ticket.bus.journey_date > Time.now %>
        <div class="review">
          <div class="details">
            <span class="title">
              <%= ticket.bus.source %> to <%= ticket.bus.destination %>
            </span>
            <br>
            <span class="date">
              Date: <%= ticket.bus.journey_date.strftime("%d %b, %Y") %> <br>
              Bus Number: <%= ticket.bus.bus_number %>
            </span>
            <p>
              Number of Seats: <%= ticket.seats %>
            </p>
          </div>
          <%= button_to "Cancel Reservation", user_reservation_path(current_user,ticket), method: :delete, class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</section>
