<div class = "row justify-content-center text-center">
		<%# <div class = "col-md-6"> %>
				<div class = "card-body">
<section class="user">
  <div class="profile-image">
    <%= profile_image(current_user) %>
  </div>
  <h1><%= current_user.name %></h1>
  <h5><%=mail_to(current_user.email) %></h5>
  <h4>Member Since
    <%= current_user.created_at.strftime("%B %Y") %>
  </h4>
  <% if policy(current_user).is_admin? %>
    <%= link_to "Bus Owners", all_bus_owners_path, class: "btn btn-primary" %>
  <% end %>
  <div class="actions">
    <%= link_to "Edit Account", edit_user_registration_path, class: "button edit"  unless current_user.admin?%>
  <% if policy(current_user).is_bus_owner? %>
    <%= link_to "My Buses", buses_path, class: "button new" %>
    <%= link_to "Add New Bus", new_bus_path, class: "button new" %>
  <% end %>
  </div>
  <% if @today_tickets.present? %>
    <h3>Today's Trips</h3>
    <%= render 'reservations', reservations: @today_tickets%>
    <% else %>
    <h3 class="display-6">You have no trips for today</h3>
  <% end %>
  <% if @reservations.present? %>
    <h3>All Tickets</h3>
    <%= render 'reservations', reservations: @reservations %>
  <% else %>
    <%= render "reservations/emptystate" %>
  <% end %>

  <div class="flickr_pagination">
    <%= will_paginate @reservations %>
  </div>
</section>
				</div>
</div>
