<%= link_to "<- Back", bus_path(@bus) %>
<h1>Reservations for <%= @bus.bus_number %></h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Number of Seats</th>
    </tr>
  </thead>
  <% @reservations.each do |reservation| %>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.bus.journey_date.strftime("%d %b, %Y") %></td>
        <td><%= reservation.seats %></td>
      </tr>
    </tbody>
  <% end %>
</table>
