<%= link_to "<- Back", bus_path(@bus) %>
<h1 class="text-center">Reservations for <%= @bus.bus_number %></h1>
<div class = "row justify-content-center text-center">
		<div class = "col-md-6">
				<div class = "card-body">
          <%= render 'search' %>
          <br>
<%= link_to "All Reservations", bus_reservations_path(@bus), class:"btn btn-primary visually-hidden all-resv" %>
				</div>
		</div>
</div>
<br>
<h2 class = "heading">All Reservations</h2>
<%= render 'reservations', reservations: @reservations %>