<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">S No.</th>
          <th scope="col">Name</th>
          <th scope="col">Seat Number</th>
          <th scope="col">Pick-up</th>
          <th scope="col">Drop</th>
          <th scope="col">Boarding Time</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <% count = 0 %>
      <% reservations.each do |ticket| %>
          <tbody>
            <tr>
              <% count+=1 %>
              <th scope="row"><%= count %></th>
              <td><%= ticket.user.name %></td>
              <td><%= ticket.seat.seat_no %></td>
              <td><%= ticket.bus.source %></td>
              <td><%= ticket.bus.destination %></td>
              <td><%= formatted_time(ticket.bus.depart_time) %></td>
              <td><%= formatted_date(ticket.date) %></td>
              <td><% if ticket.date < Date.today %>
                    <button class="btn btn-success">Done</button>
                  <% else %>
                    <%= button_to "Cancel", user_reservation_path(current_user, ticket), method: :delete, class: "btn btn-primary" %>
                  <% end %>
              </td>
            </tr>
          </tbody>
      <% end %>
    </table>