  <% if user_signed_in? %>
    <% if policy(current_user).is_admin? %>
      <%= link_to "<- Back to Dashboard", admin_dashboard_path %>
    <% end %>
  <% end %>
  <br>
  <div class = "card-body ">
    <%= render 'search' %>
    <br>
  </div>
    <% if @buses.present? %>
      <% if current_user.bus_owner? %>
        <h2 class = "heading">My Buses</h2>
      <% else %>
        <h2 class = "heading">Available Buses</h2>
      <% end %>
  <div class="data">
      <%= render "table", buses: @buses %>
</div>
      <% else %>
    <%= render 'buses/emptystate' %>
  <% end %>
  <div class="flickr_pagination">
    <%= will_paginate @buses %>
  </div>
  <% if user_signed_in? %>
    <% if policy(current_user).is_bus_owner? %>
      <%= link_to "Add New Bus", new_bus_path, class: "btn btn-primary" %>
    <% end %>
  <% end %>
