<%= link_to "<- Back to All Buses", buses_path %>
<h1><%= @bus.bus_owner.name %></h1>
<h3><%= @bus.source %> to <%= @bus.destination %></h3>
<p>Bus Number: <%= @bus.bus_number %></p>
<p>Date: <%= formatted_date(@bus.journey_date) %>, <%= formatted_time(@bus.depart_time) %></p>
<p>Status: <%= @bus.approved ? "Approved" : "Not Approved"%>
</p>
<% if available_seats(@bus)<=0 %>
  <button class="btn btn-primary">Sold Out</button>
<% else %>
  <p>Seats: <%= available_seats(@bus) %> Available</p>
  <%= link_to "Book Now", new_bus_reservation_path(@bus), class: "btn btn-primary" %>
<% end %>
<% if user_signed_in? %>
  <% if @bus.bus_owner == current_user %>
    <%= link_to "Edit Bus", edit_bus_path, class: "btn btn-primary" %>
    <%= link_to "Show All Reservations", bus_reservations_path(@bus), class: "btn btn-primary" %>
    <%= button_to "Cancel Bus", bus_path(@bus), method: :delete, class: "btn btn-primary" %>
  <% end %>
<% end %>
