  <%= link_to "<- Back to All Buses", buses_path, data: {turbo_frame: "_top"} %>
  <h1><%= @bus.bus_owner.name %></h1>
  <h3><%= @bus.source %> to <%= @bus.destination %></h3>
  <p>Bus Number: <%= @bus.bus_number %></p>
  <p>Time: <%= formatted_time(@bus.depart_time) %></p>
  <p>Status: <%= @bus.approved? ? "Approved" : "Not Approved"%>
  </p>
      <%= link_to "Book Now", new_bus_reservation_path(@bus), class: "btn btn-primary"%>
<% if user_signed_in? %>
  <% if policy(@bus).edit? %>
    <%= link_to "Edit Bus", edit_bus_path, class: "btn btn-primary" %>
    <%= button_to "Cancel Bus", bus_path(@bus), method: :delete, class: "btn btn-primary" %>
    <%= link_to "View all Reservations", bus_reservations_path(@bus), class: "btn btn-primary" %>
    <br>
    <br>
    <% if @today_tickets.present? %>
    <h4>Today's Tickets for this bus</h4>
    <%= render 'reservations', reservations: @today_tickets %>
    <div class="flickr_pagination">
      <%= will_paginate @today_tickets %>
    </div>
    <% else %>
    <h4 >No reservations for today</h4>
    <% end %>
  <% end %>
<% end %>
